{% extends 'AhsRetailBundle::layout.html.twig' %}

{% block sidebar %}
        {% for entity in entities %}
            <table>
                <tr>
                    <td>{{ entity.categoryName }}</td>
                </tr>
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
    {% endblock %}

{% endblock %}

{% block body -%}

{% endblock %}
