{% extends 'AhsRetailBundle::layout.html.twig' %}
 {% block sidebar %}
     {% for category in categories %}
         <ul>
             <li><a href="/{{ category.categoryName }}">{{ category.categoryName }}</li>
         </ul>

     {% endfor %}
 {% endblock %}

{% block body %}
    <section id="rubrieken">


        <!-- HIER KOMT FLEXSLIDER (BEETJE NEN COOL'N) -->
        <!-- da bevat de laatste nieuwtjes ! :) en moet dus worden geupdate met de laatste 10 uit de db ! -->
        <!-- Array meegeven in controller met de opgehaalde elementen ( index functie ) want alleen hier moet da worden geshowed -->
    </section>
{% endblock %}