{% extends 'AhsRetailBundle::layout.html.twig' %}
 {% block sidebar %}
     {% for category in categories %}
         <table>
             <tr>
                 <td>{{ category.categoryName }}</td>
             </tr>
             <tr>
                 <td>

                 </td>
             </tr>
         </table>
     {% endfor %}
 {% endblock %}
{% block body -%}
    {% for entity in entities %}
        <table>
            <tr>
                <td>{{ entity.entityId }}</td>
                <td>{{ entity.entityTitle }}</td>
                <td>{{ entity.entityDescription }}</td>
            </tr>
        </table>

    {% endfor %}
{% endblock %}
