{% extends 'AhsRetailBundle::layout.html.twig' %}

{% block sidebar %}
        {% for category in categories %}
            <table>
                <tr>
                    <td>{{ category.categoryName }}</td>
                </tr>
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
        {% endfor %}

{% endblock %}

{% block body %}
    <h1>Auto's</h1>
    {% for auto in autos %}
        <table>
            <tr>
                <td>{{ auto.entityTitle }}</td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}
