<!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Retail{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/ahsretail/css/main.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/ahsretail/css/font-awesome-4.0-2.3/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <section id="main-nav">
            <header>
                <h1>Retail</h1>
               <img id="logo" src="{{  asset('bundles/ahsretail/images/Retail.png') }}">

                <section id="utilities">
                    <nav id="zoekertjes">
                        <ul>
                            <li><a href="#">Plaats een zoekertje</a></li>
                            <li><a href="#">Mijn zoekertjes</a></li>
                        </ul>
                    </nav>
                </section>
                <section id="usernavigatie">
                    <nav id="user_nav">
                        <ul>
                            <li><a href="#"><i class="fa fa-user fa-3x"></i></a></li>

                        </ul>
                    </nav>
                </section>
            </header>
        </section>
        <section id="subnav">
            <nav id="subnav2">
                <ul>
                    <li><a href="">Contact</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Disclaimer</a></li>
                </ul>
            </nav>
        </section>
        <div id="page-wrapper" class="clearfix">

            <div id="side-content">
                <p>Categoriën</p>
                {% block sidebar %}


                {% endblock %}

            </div>

            <div id="content">
                {% block body %}

                {% endblock %}
            </div>
        </div>
        <footer>
            <section class="footerinfo">
                <ul>
                    <li>&copy;Retail.be</li>
                    <li>voorwaarden</li>
                    <li>copyright</li>
                    <li>sitemap</li>
                    <li>helpdesk</li>
                </ul>
            </section>
        </footer>
    </body>
</html>